{{page-title "Login first"}}

<style>
  .auth {
    padding-top: 64px;
    width: 500px;
  }
  .auth-card {
    padding: 16px;
  }
  .auth-button-wrapper {
    display: flex;
    justify-content: end;
  }
  .auth-button {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 6px;
    border-radius: 6px;
    margin-right: 12px;
    cursor: pointer;
  }
  .form-control {
    font-size: 28px;
    width: 100%;
    padding: 4px;
    border-radius: 6px;
    padding: 16px;
  }
</style>

<div class="auth">
  <Selector />
</div>